@font-face {
	font-family: 'Tilda Sans';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Black.woff2) format('woff2'),
		url(../../fonts/TildaSans-Black.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Bold.woff2) format('woff2'),
		url(../../fonts/TildaSans-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans';
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Extrabold.woff2) format('woff2'),
		url(../../fonts/TildaSans-Extrabold.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Light.woff2) format('woff2'),
		url(../../fonts/TildaSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Medium.woff2) format('woff2'),
		url(../../fonts/TildaSans-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Regular.woff2) format('woff2'),
		url(../../fonts/TildaSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-Semibold.woff2) format('woff2'),
		url(../../fonts/TildaSans-Semibold.woff) format('woff');
}

@font-face {
	font-family: 'Tilda Sans-VF';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/TildaSans-VF.woff2) format('woff2'),
		url(../../fonts/TildaSans-VF.woff) format('woff');
}
