body {
	margin: 0;
	font-family: 'Tilda Sans', sans-serif;
	color: #ffffff;
	background-color: #1c1c1c;

	@media (max-width: 990px) {
		background-image: url(../../img/bg.jpg);
	}
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.container {
	max-width: 1044px;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: 45px;
}

.title {
	margin: 0 0 49px;
	font-weight: 800;
	font-size: 38px;
	line-height: 59px;
	text-align: center;

	@media (max-width: 600px) {
		font-size: 19px;
		line-height: 29px;
	}

	&::before {
		content: '';
		display: block;
		width: 175px;
		height: 5px;
		margin-right: auto;
		margin-bottom: 53px;
		margin-left: auto;
		background-color: #44b759;

		@media (max-width: 600px) {
			max-width: 90px;
			height: 3px;
			margin-bottom: 20px;
		}
	}
}
