.button {
	display: inline-block;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 21px;
	font-family: inherit;
	text-align: center;
	text-align: center;
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid;
	border-radius: 100px;
	appearance: none;
	gap: 41px;
	padding-right: 20px;

	@media (max-width: 600px) {
		font-size: 16px;
		gap: 15px;
	}

	&::before {
		content: '';
		display: block;
		width: 87px;
		height: 87px;
		background-image: url(../../img/telegram.png);
		background-size: contain;

		@media (max-width: 600px) {
			width: 55px;
			height: 55px;
		}
	}
}
